In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [13]:
path=os.getcwd()

In [3]:
path

'/Users/manishamaddel/Documents/Ineuron/AReM'

In [40]:
all_files = glob.glob('/Users/manishamaddel/Documents/Ineuron/AReM/*/*.csv')

In [16]:
type(all_files)

list

In [23]:
all_files[0]

'/Users/manishamaddel/Documents/Ineuron/AReM/bending1/dataset7.csv'

In [90]:
list1=[]
import csv
for file in files:
    with open(all_files[0],'r') as file:
        reader=csv.reader(file,)
        for row in reader:
            #print(row)
            list1.append(row)
        
        
for i in range(5):
    print(i)
    #print(list1[i])
    list1[i].pop()
    #print(list1[i])
    
df=pd.DataFrame(list1)

df.drop([0,1,2,3,4],axis=0)

0
1
2
3
4

            0      1     2      3     4      5     6
5           0  42.00  0.00  18.50  0.50  12.00  0.00
6         250  42.00  0.00  18.00  0.00  11.33  0.94
7         500  42.75  0.43  16.75  1.79  18.25  0.43
8         750  42.50  0.50  16.75  0.83  19.00  1.22
9        1000  43.00  0.82  16.25  0.83  18.00  0.00
...       ...    ...   ...    ...   ...    ...   ...
31520  118750  44.25  0.83  16.25  1.30  24.00  0.00
31521  119000  44.00  0.71  11.00  1.00  24.00  0.00
31522  119250  44.25  0.43  10.25  1.30  22.75  0.83
31523  119500  43.75  0.43   7.33  2.87  21.50  0.50
31524  119750  44.50  0.50   3.00  1.22  21.50  0.50

[31520 rows x 7 columns]