In [2]:
d={}
for i in range(10):
    d[i]=i**2

In [3]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [4]:
l= ['sudh','kumar',"xyz","abc"]
d={}

for i in l:
    d[i]=i.upper()

In [5]:
d

{'sudh': 'SUDH', 'kumar': 'KUMAR', 'xyz': 'XYZ', 'abc': 'ABC'}

In [6]:
d

{'sudh': 'SUDH', 'kumar': 'KUMAR', 'xyz': 'XYZ', 'abc': 'ABC'}

In [7]:
l= ['sudh','kumar',"xyz","abc"]
d={}

for i in l:
    d[i]=i.isupper()

In [8]:
d

{'sudh': False, 'kumar': False, 'xyz': False, 'abc': False}

In [9]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [19]:
a=iter('mani')
type(a)

str_iterator

In [11]:
a1="vvv"
type(a1)

str

In [17]:
next(a)

StopIteration:

In [21]:
a1="love"
for i in a1:
    print(i)

l
o
v
e

In [22]:
next(12)

TypeError: 'int' object is not an iterator

In [23]:
a=iter(12)

TypeError: 'int' object is not iterable

In [26]:
range(10) #genertor it returns range object

range(0, 10)

In [28]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
d=iter(range(10)) #range function is coverted to iterator object because it is iterable

In [30]:
for i in (range(10)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
def test(n):
    for i in range(n):
        print(i)

In [34]:
test(5)

0
1
2
3
4

In [35]:
def test(n):
    for i in range(n):
        print(i)

TypeError: 'function' object is not iterable

In [38]:
def gencube(n):
    for i in range(n):
        print(i**3)

In [39]:
gencube(10)

0
1
8
27
64
125
216
343
512
729

In [40]:
def gencube(n):
    for i in range(n):
        yield i**3  
#yield operator creates a afunction which yields 
#the data or give the data object whereas print give dataset

#yield is responsible for create a geneator object which can yield data

In [41]:
gencube(10)

In [42]:
for  i in gencube(10):
    print(i)

0
1
8
27
64
125
216
343
512
729

In [43]:
next(gencube(10)) #gencube is genertor object but not a iterator object

0

In [45]:
#convert gencube to iterator object

v=iter(gencube(10))

In [47]:
next(v)

1

In [48]:
for  i in gencube(10): #in this iter and next both are used in for loop  so it genertes data
    print(i)

0
1
8
27
64
125
216
343
512
729

In [ ]:
#to create generator function just make use of yield operator in case of return keyword

In [49]:
#fibonnaci series

In [50]:
def genfi(n):
    a=1
    b=1
    for i in range(n):
        yield a #genertor object yield will remember earlier values
        a,b=b,a+b

In [51]:
genfi(10)

In [52]:
for i in genfi(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [53]:
#string is not a iterator object but it is a iterable  object
#make use of iter( ) to create iterator object
#generator object will give dataset
#make use of yield operator to create generator object
#generator object remembers what was done in last call and do this time and give the dataset
#on call generator create data sets

In [54]:
#MAP , REDUCE, FILTER function

#used in datamanipulation
#they are optimised fuction where time and space complexity is less

In [55]:
#temp coversion


def square(n):
    return n**2

In [56]:
square(4)

16

In [57]:
l=[3,4,5,6,7,8,9]

In [58]:
n=[]
for i in l:
    n.append(square(i))

In [59]:
n

[9, 16, 25, 36, 49, 64, 81]

In [60]:
[i**2 for i in l]

[9, 16, 25, 36, 49, 64, 81]

In [61]:
[square(i) for i in l]

[9, 16, 25, 36, 49, 64, 81]

In [62]:
# syntax -   map(func , iterable object)

In [66]:
map(square , l)

In [67]:
m=map(square , l)

In [68]:
list(map(square,l))

[9, 16, 25, 36, 49, 64, 81]

In [69]:
list(m)

[9, 16, 25, 36, 49, 64, 81]

In [70]:
#map object works as generator object
for i in map(square , l):
    print(i)

9
16
25
36
49
64
81

In [71]:
#lambda operation/function
#lambda is a keyword which is used to create anonyoumous fucntion
#function without a name

In [72]:
list(map(lambda x : x**2 , l))

[9, 16, 25, 36, 49, 64, 81]

In [ ]:
def genfi(n):
    a=1
    b=1
    for i in range(n):
        yield a #genertor object yield will remember earlier values
        a,b=b,a+b

In [74]:
c=lambda x:x**2

In [75]:
c=lambda x:  x**2

In [76]:
map(c,l)

In [78]:
list(map(c,l))

[9, 16, 25, 36, 49, 64, 81]

In [79]:
a=[1,2,3,4,5]
b=[5,6,7,4,3]
c=[6,7,8,6,5,4]

In [81]:
def sum1(x,y,z):
    return x+y+z

In [82]:
list(map(sum1,a,b,c))

[12, 15, 18, 14, 13]

In [83]:
list(map(lambda x,y,z:x+y+z , a,b,c))

[12, 15, 18, 14, 13]

In [84]:
from functools import reduce

In [85]:
l=[4,5,6,7,8,9]

In [86]:
# syntax -   - > reduce(function,sequence)

In [91]:
l=[4,5,6,7,8,9]
def summation1 (a,b):
    return a+b
reduce(summation1,l)

39

In [92]:
reduce(lambda x,y : x/y ,l)

0.0002645502645502645

In [93]:
reduce(lambda x,y : x+y ,l)

39

In [96]:
#reduce(lambda x,y,z:x+y+z , l)
#reduce will only accept atmost 2 arguments not more than that

In [98]:
l=[4,5,6,7,8,9,8]

In [100]:
list(filter(lambda x : x%2==0,l))

[4, 6, 8, 8]

In [101]:
def even_check(n):
    if n%2==0:
        return True

In [102]:
list(filter(even_check,l))

[4, 6, 8, 8]