In [1]:

import sqlite3
from ipynb.fs.full.Employee import *

In [2]:
conn=sqlite3.connect(':memory:')

In [3]:
c=conn.cursor()

In [4]:
c.execute("""CREATE TABLE employees(first text,last text,pay integer)""")

In [5]:
def insert_emp(emp):
    print("in insert")
    with conn:
        c.execute("insert into employees values(:first,:last,:pay)",{'first':emp1.first,'last':emp1.last,'pay':emp1.pay})

In [6]:
def get_emps_by_name(lastname):
    print(lastname)
    c.execute("SELECT *FROM employees where last=last",{'last':lastname})

In [35]:
def update_pay(emp,pay):
    with conn:
        c.execute("""update employees set pay=  pay where first=:first and last=:last""",{'first':emp.first,'last':emp.last,'pay':pay})

In [8]:
def remove_emp(emp):
    with conn:
        c.execute("delete from employees where first=:first and last=:last",{'first':emp.first,'last':emp.last})

In [9]:
emp=Employee("gauri",'kolekar',1200)

In [10]:
emp1=Employee("charu",'tandale',12000)

In [11]:
print(emp.first)
print(emp.last)
print(emp.pay)

gauri
kolekar
1200

In [12]:
c.execute("insert into employees values('{}','{}',{})".format(emp.first,emp.last,emp.pay))

In [13]:
c.execute("insert into employees values(?,?,?)",(emp1.first,emp1.last,emp1.pay))

In [14]:
c.execute("insert into employees values(:first,:last,:pay)",{'first':emp1.first,'last':emp1.last,'pay':emp1.pay})

In [15]:
c.execute("SELECT *FROM employees where last=?",('maddel',))

In [16]:
c.execute("SELECT *FROM employees where last=last",{'last':'kolekar'})

In [17]:
c.execute("INSERT INTO employees VALUES('MANISHA','MADDEL',500000)")

In [18]:
c.execute("INSERT INTO employees VALUES('ARYA','MADDEL',100000)")

In [19]:
c.execute("INSERT INTO employees VALUES('MANDAR','MADDEL',4000)")

In [20]:
c.execute("INSERT INTO employees VALUES('EURO','DOGGY',3000)")

In [21]:
c.execute("SELECT *FROM employees where last='MADDEL'")

In [22]:
print(c.fetchone())

('MANISHA', 'MADDEL', 500000)

In [23]:
print(c.fetchall())

[('ARYA', 'MADDEL', 100000), ('MANDAR', 'MADDEL', 4000)]

In [24]:
print(c)

<sqlite3.Cursor object at 0x7fd7d1670420>

In [25]:
conn.commit()

In [26]:
#conn.close()

In [27]:
emp2=Employee("shivani",'rao',1500)
insert_emp(emp2)

in insert

In [28]:
insert_emp(emp)
insert_emp(emp1)

in insert
in insert

In [29]:
emps=get_emps_by_name('kolekar')
print(emps)

kolekar
None

In [30]:
c.execute("SELECT *FROM employees")

In [31]:
print(c.fetchall())

[('gauri', 'kolekar', 1200), ('charu', 'tandale', 12000), ('charu', 'tandale', 12000), ('MANISHA', 'MADDEL', 500000), ('ARYA', 'MADDEL', 100000), ('MANDAR', 'MADDEL', 4000), ('EURO', 'DOGGY', 3000), ('charu', 'tandale', 12000), ('charu', 'tandale', 12000), ('charu', 'tandale', 12000)]

In [42]:
 c.execute("SELECT *FROM employees where last=last",{'last':'maddel'})

In [43]:
print(c.fetchone())

('charu', 'tandale', 12000)

In [36]:
update_pay(emp2,95000)

In [37]:
print(emp2.pay)

1500

In [38]:
remove_emp(emps)

AttributeError: 'NoneType' object has no attribute 'first'

In [40]:
c.execute("delete from employees where first=:first and last=:last",{'first':emp.first,'last':emp.last})

In [41]:
print(c.fetchone())

None

In [44]:
c.execute("SELECT *FROM employees")

In [45]:
print(c.fetchall())

[('charu', 'tandale', 12000), ('charu', 'tandale', 12000), ('MANISHA', 'MADDEL', 500000), ('ARYA', 'MADDEL', 100000), ('MANDAR', 'MADDEL', 4000), ('EURO', 'DOGGY', 3000), ('charu', 'tandale', 12000), ('charu', 'tandale', 12000), ('charu', 'tandale', 12000)]